header{
    display: flex;
    gap: 2rem;
    background-color: white !important;
    border-bottom: 1px solid $grey;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 32px;
    width: 100%;
    padding: 20px 30px;
    z-index: 10;

    h1{
        padding: 0 !important;
        font-size: 32px !important;
        font-weight: bold !important;
    }
}

#bf-search-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;

    input{
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: $grey-50;
        border: 1px solid $grey-600;

        &:focus{
            outline-offset: 2px;
            outline: 2px solid $blue-200;
        }
    }

    button{
        position: absolute;
        right: 10px;
        padding: 0;
        background-color: transparent;
        border: 0;
        display: none; 

        svg {
            width: 32px;
            height: 32px;

        }
    }
}

#bf-search-input {
    padding: 5px;
    width: 300px;
}

#bf-clear-button {
    padding: 5px 10px;
    margin-left: 10px;
}